<div al-if="data.activeRoute.path == '/balances'">
  <div al-ctrl="balances">

    <div class="content-1000">
      <div class="row ">
        <div class="col-12 border-right">
        <button type="button" al-click="getDemoMoney()" class="btn btn-warning alert">get demo money</button>
        <span>вам будут предоставлены приватники предпополненных кошельков</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 border-right">
          <div class="pr-2">
            <eth-balance-card ></eth-balance-card>
            <btc-balance-card ></btc-balance-card>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
