<div al-if="data.activeRoute.path == '/btc-to-eth/:id'">
  <div al-ctrl="btcToEth">

    <div class="content-800">

      <div al-if="data.isOwner">
        <div al-if="data.status == data.statuses.thereIsNoAnyParticipant">
          <h2>У этой сделки еще нет покупателя.</h2>
          <a class="btn btn-primary" al-link="/">Вернуться к списку ордеров</a>
        </div>

        <div al-if="data.status == data.statuses.waitingParticipantToBecomeOnline">
          <h2>Пользователь создавший этот ордер создавший этот ордер оффлайн, ожидаем его.</h2>
          <div class="loader"></div>
        </div>

        <div al-if="data.status == data.statuses.waitingParticipantConnectToDeal">
          <h2>Пользователь создавший этот ордер получил уведомление. Ожидаем когда он присоединится к сделке.</h2>
          <div class="loader"></div>
        </div>
      </div>

      <div al-if="!data.isOwner">

      </div>

      <div al-if="data.status == data.statuses.initialized">
        <h2 class="mb-4">1. Придумайте секретную фразу</h2>
        <div class="alert alert-danger" role="alert">
          <b>Сохраните секретную фразу, иначе вы не сможете получить деньги!</b>
        </div>
        <div al-if="data.step == 1">
          <input type="text" class="form-control" placeholder="Секретная фраза" al-value="data.secret">
          <br />
          <button type="button" class="btn btn-primary" @click="goNextStep()">Погнали!</button>
        </div>
        <div class="fs18" al-if="data.step > 1">
          <div class="alert alert-warning" role="alert">
            Secret: <b><a href="" al-copy>{{data.secret}}</a></b>
          </div>
          <div class="alert alert-warning" role="alert">
            Secret Hash: <b><a href="" al-copy>{{data.secretHash}}</a></b>
          </div>
        </div>
      </div>

      <div class="mt-5" al-if="data.step > 1">
        <h2 class="mb-4">2. Пополните адрес созданного BTC кошелька</h2>
        <div class="alert alert-primary fs-18" role="alert">
          Сумма для пополнения: <b>{{data.order.currency1Amount}} BTC</b>
        </div>
        <div class="alert alert-warning" role="alert">
          Адрес BTC кошелька: <b><a href="" al-copy>{{data.btcScriptAddress}}</a></b>
        </div>
        <button type="button" class="btn btn-primary" @click="goNextStep()">Я пополнил, давай проверяй и погнали дальше!</button>
      </div>

      <div class="mt-5" al-if="data.step > 2">
        <div al-if="data.waitingForParticipant">
          <h2 class="mb-4">3. Ожидаем пользователя {Username}</h2>
          <div class="loader"></div>
        </div>
      </div>

      <div class="mt-5" al-if="data.step > 3">
        <div class="page-header">
          <h1>Step 4</h1>
        </div>
      </div>

    </div>

  </div>
</div>
