<div al-ctrl="header" class="header mb-3 bg-white border-bottom box-shadow">
  <div class="h-100 center-1000 d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <a class="p-2 text-dark" href="#" al-link="/">
        <h5 class="my-0 mr-md-auto font-weight-normal">Swap.Online</h5>
      </a>
      <div class="headerNav">
        <a class="p-2 text-dark" href="#" al-link="/history">История</a>
      </div>
    </div>
    <div>
      <div class="headerNavItem" id="headerBellNavItem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <audio class="hidden" id="notificationSound" src="https://raw.githubusercontent.com/pavelivanov/notification-audio-file/master/direct.ogg"></audio>
        <div class="headerBell" id="headerBell"></div>
        <div class="headerNotificationsList dropdown-menu" aria-labelledby="headerBellNavItem">
          <div al-repeat="item in data.notifications.items track by $index">
            <a class="dropdown-item" href="#" al-link data-link="{{'/swap/btc-to-eth/' + item.id}}">
              {{item.currency1Amount}} {{item.currency1}} &#10230; {{item.currency2Amount}} {{item.currency2}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
