<div al-if="activeRoute.path == '/history'">
  <button al-link="/">Назад</button>

  <div al-ctrl="history">
    <div class="content-1000">

      <div class="page-header">
        <h1>История</h1>
      </div>

      <div class="row">
        <div class="col-6 border-right">
          <div class="pr-2">
            <div class="d-flex justify-content-between">

              <div>Всего: <span>0 ETH</span></div>
            </div>

            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>BTC</th>
                  <th class="text-right">Address</th>
                  <th class="text-right">Time</th>
                  <th  >Status</th>
                </tr>
                </thead>
                <tbody>
                <tr al-repeat="it in ethTransactions">
                  <td>{{it.value}}</td>
                  <td>{{it.address}}</td>
                  <td>1</td>
                  <td>{{it.status}}</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="col-6">
          <div class="pr-2">
            <div class="d-flex justify-content-between">

              <div>Всего: <span>{{total_btc}} BTC</span></div>
            </div>

            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>BTC</th>
                  <th class="text-right">Address</th>
                  <th class="text-right">Time</th>
                  <th  >Status</th>
                </tr>
                </thead>
                <tbody>
                <tr al-repeat="it in btcTransactions"  class="{{it.type}}" >
                  <td>{{it.value}}</td>
                  <td>{{it.address}}</td>
                  <td>{{it.date | date:yyyy-mm-dd}}</td>
                  <td>{{it.status == 1  ? "complete" : "pending"}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
