<div al-if="data.activeRoute.path == '/history'">

  <div al-ctrl="history">
    <div class="content-1000">

      <div class="page-header">
        <h1>History</h1>
      </div>

      <div class="row">
        <div class="col-6 border-right">
          <div class="pr-2">
            <div class="d-flex justify-content-between">
              <div>Total: <span>{{total_eth}} ETH</span></div>
            </div>

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>ETH</th>
                    <th class="text-right">Address</th>
                    <th class="text-right">Time</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr al-repeat="it in ethTransactions" al-class="text-success: it.type == 'in', text-danger:it.type == 'out' "  al-init="total_eth += it.value">
                    <td>{{it.value}}</td>
                    <td><a href="https://etherscan.io/address/{{it.address}}" target="_blank">{{it.address}}</a></td>
                    <td>{{it.date | date:yyyy-mm-dd}}</td>
                    <td>{{it.status == 1  ? "complete" : "pending"}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="col-6">
          <div class="pr-2">
            <div class="d-flex justify-content-between">
              <div>Total: <span>{{total_btc}} BTC</span></div>
            </div>

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>BTC</th>
                    <th class="text-right">Address</th>
                    <th class="text-right">Time</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr al-repeat="it in btcTransactions"  al-class="text-success: it.type == 'in', text-danger:it.type == 'out' "  al-init="total_btc += it.value" >
                    <td>{{it.value}}</td>
                    <td><a href="https://blockchain.info/address/{{it.address}}" target="_blank">{{it.address}}</a></td>
                    <td>{{it.date | date:yyyy-mm-dd}}</td>
                    <td>{{it.status == 1  ? "complete" : "pending"}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
