<div al-if="data.activeRoute.path == '/'">
  <div al-ctrl="main">
    <div class="content-1000">
      <div class="row">
        <div class="col-6 border-right">
          <div class="pr-2">
            <div class="alert alert-warning fs-16" role="alert">
              <div class="d-flex justify-content-between">
                <div>Баланс <b>{{data.eth.balance}}</b> ETH <a href="#" al-click="updateEthBalance()">
                  обновить
                </a></div>
                <a href="" data-toggle="modal" data-target="#withdraw_eth">вывести средства</a>
              </div>
              <hr />
              <a href="" al-copy title="скопировать в буффер">{{data.eth.address}}</a>
            </div>
            <h3 class="pt-4 pb-2">Купить BTC за ETH</h3>
            <form action="" al-submit="createOrder('buy')">
              <div class="form-group">
                <label>Курс</label>
                <div class="input-group mb-3">
                  <input
                    class="form-control"
                    type="type"
                    @input.change_eth_exchange_rate=""
                    al-value="eth_exchange_rate"
                    required
                  >
                  <div class="input-group-append">
                    <span class="input-group-text">ETH</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Количество <b>BTC</b> которое вы хотите <b>получить</b></label>
                <div class="input-group mb-3">
                  <input
                    class="form-control"
                    type="type"
                    @input.change_btc=""
                    al-value="btc"
                    required
                  >
                  <div class="input-group-append">
                    <span class="input-group-text">BTC</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Количество <b>ETH</b> которое вы хотите <b>продать</b></label>
                <div class="input-group mb-3">
                  <input
                    class="form-control"
                    type="type"
                    @input.change_eth=""
                    al-value="eth"
                    required
                  >
                  <div class="input-group-append">
                    <span class="input-group-text">ETH</span>
                  </div>
                </div>
              </div>
              <!--div class="form-check">
                <label class="form-check-label">
                  <input
                    id="ch_active"
                    class="form-check-input"
                    type="checkbox"
                    al-init="checked()"
                    al-value="active"
                  />
                  Обьявление активно
                </label>
                <div class="text-muted">поставьте галочку, что бы объявление появилось в онлайне в списке выше</div>
              </div-->
              <div class="pt-3">
                <input type="submit" class="btn btn-primary btn-block" value="Создать объявление">
              </div>
            </form>
          </div>
        </div>
        <div class="col-6">
          <div class="pl-2">
            <div class="alert alert-warning fs-16" role="alert">
              <div class="d-flex justify-content-between">
                <div>Баланс <b>{{data.btc.balance}}</b> BTC<a href="#" al-click="updateBtcBalance()">
                  обновить
                </a></div>

                <a href="" data-toggle="modal" data-target="#withdraw_btc">вывести средства</a>
              </div>
              <hr />
              <a href="" al-copy title="скопировать в буффер">{{data.btc.address}}</a>
            </div>
            <h3 class="pt-4 pb-2">Купить ETH за BTC</h3>
            <form action="" al-submit="createOrder('sell')">
              <div class="form-group">
                <label>Курс</label>
                <div class="input-group mb-3">
                  <input
                    class="form-control"
                    type="type"
                    @input.change_btc_exchange_rate=""
                    al-value="btc_exchange_rate"
                    required
                  >
                  <div class="input-group-append">
                    <span class="input-group-text">ETH</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Количество <b>ETH</b> которое вы хотите <b>продать</b></label>
                <div class="input-group mb-3">
                  <input
                    class="form-control"
                    type="type"
                    @input.change_sell_eth=""
                    al-value="sell_eth"
                    required
                  >
                  <div class="input-group-append">
                    <span class="input-group-text">ETH</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Количество <b>BTC</b> которое вы хотите <b>получить</b></label>
                <div class="input-group mb-3">
                  <input
                    class="form-control"
                    type="type"
                    @input.change_sell_btc=""
                    al-value="sell_btc"
                    required
                  >
                  <div class="input-group-append">
                    <span class="input-group-text">BTC</span>
                  </div>
                </div>
              </div>
              <!--div class="form-check">
                <label class="form-check-label">
                  <input
                    id="sell_ch_active"
                    class="form-check-input"
                    type="checkbox"
                    al-init="sell_checked()"
                    al-value="active"
                  />
                  Обьявление активно
                </label>
                <div class="text-muted">поставьте галочку, что бы объявление появилось в онлайне в списке выше</div>
              </div-->
              <div class="pt-3">
                <input type="submit" class="btn btn-primary btn-block" value="Создать объявление">
              </div>
            </form>
          </div>
        </div>
      </div>

      <hr class="my-5" />

      <div class="row">
        <div class="col-6 border-right">
          <div class="pr-2">
            <div class="d-flex justify-content-between">
              <label>Продают</label>
              <div>Всего: <span>{{data.eth.balance}} ETH</span></div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>Цена</th>
                  <th class="text-right">ETH</th>
                  <th class="text-right">BTC</th>
                  <th colspan="2"></th>
                </tr>
                </thead>
                <tbody>
                <tr al-repeat="item in orders.items | onlySell | onlyActive track by item.id" data-id="{{item.id}}">
                  <td>{{item.exchangeRate}}</td>
                  <td class="text-right trim-order-value">{{item.currency1Amount}}</td>
                  <td class="text-right trim-order-value">{{item.currency2Amount}}</td>
                  <td class="text-right">
                    <div al-if="item.owner.address != user.ethData.address">
                      <a href="#" al-link data-link="{{'/swap/btc-to-eth/' + item.id}}">купить</a>
                    </div>
                  </td>
                  <td class="text-right">
                    <button
                      al-if="item.owner.address == user.ethData.address"
                      class="close"
                      type="button"
                      aria-label="Close"
                      @click="removeOrder(item)"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="pl-2">
            <div class="d-flex justify-content-between">
              <label>Покупают</label>
              <div>Всего: <span>{{total_btc}} BTC</span></div>
            </div>
            <div class="table-responsive ">
              <table class="table">
                <thead>
                <tr>
                  <th>Цена</th>
                  <th class="text-right">ETH</th>
                  <th class="text-right">BTC</th>
                  <th colspan="2"></th>
                </tr>
                </thead>
                <tbody>
                <tr al-repeat="item in orders.items | onlyBuy | onlyActive track by item.id" data-id="{{item.id}}">
                  <td>{{item.exchangeRate}}</td>
                  <td class="text-right trim-order-value">{{item.currency1Amount}}</td>
                  <td class="text-right trim-order-value">{{item.currency2Amount}}</td>
                  <td class="text-right">
                    <div al-if="item.owner.address != user.ethData.address">
                      <a href="#" al-link data-link="{{'/swap/eth-to-btc/' + item.id}}">купить</a>
                    </div>
                  </td>
                  <td class="text-right">
                    <button
                      al-if="item.owner.address == user.ethData.address"
                      class="close"
                      type="button"
                      aria-label="Close"
                      @click="removeOrder(item)"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <button id="clearOrders">Clear my orders</button>
      <script>
        document.getElementById('clearOrders').addEventListener('click', function() {
          localStorage.removeItem('myOrders')
          window.location.reload()
        })
      </script>
    </div>

    <!-- Modal eth-->
    <div class="modal fade" id="withdraw_eth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <form action="" al-submit="withdrawEth()" id="withdrawEth">

          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Вывести ETH</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
              <div class="text-danger">
              </div>

              <div class="form-group">
                <label>Адрес</label>
                <div class="input-group mb-3">
                  <input class="form-control" value="" pattern="(0x){1}[0-9a-fA-F]{40}" al-value="withdraw_eth_address" required=""   type="text" placeholder="Адрес"
                         onkeyup="this.value = this.value.trim()">

                </div>
              </div>

              <div class="form-group">
                <label>Сумма</label>
                <div class="input-group mb-3">
                  <input class="form-control" al-change="(withdraw_eth_amount > data.eth.balance)?(withdraw_eth_amount=data.eth.balance):''"  onkeyup="this.value=this.value.match(/^[\d.]+$/)" value="" al-init="withdraw_eth_amount = withdraw_eth_min_amount"  al-value="withdraw_eth_amount" required=""
                         type="text" placeholder="Сумма">
                  <div class="input-group-append">
                    <span class="input-group-text">ETH</span>
                  </div>
                </div>
                <p class="list-text">мин: <a href="" @click="withdraw_eth_amount=withdraw_eth_min_amount">{{withdraw_eth_min_amount}}</a>, макс <a href="" @click="withdraw_eth_amount=data.eth.balance">{{data.eth.balance}}</a>
                </p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="modal fade" id="withdraw_btc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <form action="" al-submit="withdrawBtc()">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" >Вывести BTC</h4>
              <button type="button" class="close"  data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

              <div class="form-group">
                <label>Адрес</label>
                <div class="input-group mb-3">
                  <input class="form-control" value=""  pattern="[a-zA-HJ-NP-Z0-9]{25,34}" al-value="withdraw_btc_address" required=""   type="text" placeholder="Адрес" onkeyup="this.value = this.value.trim()">
                </div>
              </div>

              <div class="form-group">
                <label>Сумма</label>
                <div class="input-group mb-3">
                  <input class="form-control" onkeyup="this.value=this.value.match(/^[\d.]+$/)"  value="0" al-change="(withdraw_btc_amount > data.btc.balance)?(withdraw_btc_amount=data.btc.balance):''"  al-init="withdraw_btc_amount = withdraw_btc_min_amount"  al-value="withdraw_btc_amount" required=""   type="text"  >
                  <div class="input-group-append">
                    <span class="input-group-text">BTC</span>
                  </div>

                </div>
                <p class="list-text">мин: <a href="" @click="withdraw_btc_amount=withdraw_btc_min_amount">{{withdraw_btc_min_amount}}</a>, макс <a href="" @click="withdraw_btc_amount=data.btc.balance">{{data.btc.balance}}</a>
                </p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
