<div al-if="data.activeRoute.path == '/' || data.activeRoute.path == '/orders'">
  <div al-ctrl="orders">

    <div class="content-800">

      <div class="d-flex justify-content-between mb-4">
        <h3 class="mb-0">
          Buy
          <div class="btn-group">
            <button type="button" id="buyCurrencyDropdown" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{data.selectedCurrencies.buy}}
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" al-if="data.selectedCurrencies.buy != 'BTC'" al-click="updateSelectedCurrency('buy', 'BTC')">BTC</a>
              <a class="dropdown-item" href="#" al-if="data.selectedCurrencies.buy != 'ETH'" al-click="updateSelectedCurrency('buy', 'ETH')">ETH</a>
            </div>
          </div>
          for
          <div class="btn-group">
            <button type="button" id="sellCurrencyDropdown" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{data.selectedCurrencies.sell}}
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" al-if="data.selectedCurrencies.sell != 'BTC'" al-click="updateSelectedCurrency('sell', 'BTC')">BTC</a>
              <a class="dropdown-item" href="#" al-if="data.selectedCurrencies.sell != 'ETH'" al-click="updateSelectedCurrency('sell', 'ETH')">ETH</a>
            </div>
          </div>
        </h3>
        <button type="button" class="btn btn-primary" al-click="openModal()">
          Create order
        </button>
      </div>

      <div class="modal fade" id="createOrderModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Buy {{data.selectedCurrencies.buy}} for {{data.selectedCurrencies.sell}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <eth-balance-card al-if="data.selectedCurrencies.buy == 'BTC'"></eth-balance-card>
              <btc-balance-card al-if="data.selectedCurrencies.buy == 'ETH'"></btc-balance-card>
              <form action="" al-submit="createOrder()">
                <div class="form-group">
                  <label>Price of <b>1 {{data.selectedCurrencies.buy}}</b></label>
                  <div class="input-group input-group-lg mb-3">
                    <input
                      class="form-control"
                      type="type"
                      @input.change_exchange_rate=""
                      al-value="data.createOrderModal.exchangeRate"
                      required
                    >
                    <div class="input-group-append">
                      <span class="input-group-text">{{data.selectedCurrencies.sell}}</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label><b>{{data.selectedCurrencies.buy}}</b> amount you want to <b>buy</b></label>
                  <div class="input-group input-group-lg mb-3">
                    <input
                      class="form-control"
                      type="type"
                      @input.change_buy_amount=""
                      al-value="data.createOrderModal.buyAmount"
                      required
                    >
                    <div class="input-group-append">
                      <span class="input-group-text">{{data.selectedCurrencies.buy}}</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label><b>{{data.selectedCurrencies.sell}}</b> amount you want to <b>sell</b></label>
                  <div class="input-group input-group-lg mb-3">
                    <input
                      class="form-control"
                      type="type"
                      @input.change_sell_amount=""
                      al-value="data.createOrderModal.sellAmount"
                      required
                    >
                    <div class="input-group-append">
                      <span class="input-group-text">{{data.selectedCurrencies.sell}}</span>
                    </div>
                  </div>
                  <div
                    al-if="data.createOrderModal.sellAmount > data.createOrderModal.balance"
                    class="text-danger mt-2"
                  >
                    There is not enough balance
                  </div>
                </div>
                <div class="alert alert-primary" role="alert">
                  Your order will appear in "Buy <strong>{{data.selectedCurrencies.sell}}</strong> for <strong>{{data.selectedCurrencies.buy}}</strong>" list
                </div>
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Create order">
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <div class="d-flex justify-content-end">
          <div>Total: <span>{{data.totalAmount}} {{data.selectedCurrencies.buy}}</span></div>
        </div>
        <div class="table-responsive mt-3">
          <table class="table">
            <thead>
            <tr>
              <th>Exchange rate</th>
              <th>User reputation</th>
              <th class="text-right">{{data.selectedCurrencies.buy}}</th>
              <th class="text-right">{{data.selectedCurrencies.sell}}</th>
              <th colspan="2"></th>
            </tr>
            </thead>
            <tbody>
            <tr
              al-repeat="item in data.orders | addOrderLinks track by item.id"
              data-id="{{item.id}}"
              :style.background-color="item.owner.address == data.myAddress ? '#fffdbd' : '#fff'"
            >
              <td>{{item.exchangeRate}}</td>
              <td>{{item.owner.reputation}}</td>
              <td class="text-right trim-order-value">{{item.sellAmount}}</td>
              <td class="text-right trim-order-value">{{item.buyAmount}}</td>
              <td class="text-right">
                <div al-if="item.owner.address != data.myAddress">
                  <a href="#" al-link data-link="{{item.link}}">BUY</a>
                </div>
              </td>
              <td class="text-right">
                <button
                  al-if="item.owner.address == data.myAddress"
                  class="close"
                  type="button"
                  aria-label="Remove"
                  title="remove order"
                  @click="removeOrder(item)"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>