<div al-if="data.activeRoute.path == '/swap/:slug/:id'">
  <div class="content-800" al-ctrl="swap">

    <div class="alert alert-primary mb-4 fs-18" al-if="data.order">
      <strong al-if="data.slug == 'btc-to-eth'">{{data.order.currency1Amount}} {{data.order.currency1}} &#10230; {{data.order.currency2Amount}} {{data.order.currency2}}</strong>
      <strong al-if="data.slug == 'eth-to-btc'">{{data.order.currency2Amount}} {{data.order.currency2}} &#10230; {{data.order.currency1Amount}} {{data.order.currency1}}</strong>
    </div>

    <div al-if="data.status == data.statuses.thereIsNoAnyParticipant">
      <h2>У этой сделки еще нет покупателя</h2>
      <a class="btn btn-primary" al-link="/">Вернуться к списку ордеров</a>
    </div>

    <div al-if="data.status == data.statuses.waitingParticipantToBecomeOnline">
      <h2>Пользователь создавший этот ордер оффлайн, ожидаем его</h2>
      <div class="loader"></div>
    </div>

    <div al-if="data.status == data.statuses.waitingParticipantConnectToDeal">
      <h2>Ожидаем другого пользователя, когда он присоединится к сделке</h2>
      <div class="loader"></div>
    </div>

    <div al-if="data.status == data.statuses.initialized">


      <!-- BTC to ETH -->

      <div al-if="data.slug == 'btc-to-eth'" al-ctrl="btcToEth">

        <div al-if="data.step == 1">
          <h2 class="mb-4">Придумайте секретную фразу</h2>
          <input type="text" class="form-control" placeholder="Секретная фраза" al-value="data.secret">
          <br />
          <button type="button" class="btn btn-primary" @click="goNextStep()">Погнали!</button>
        </div>

        <div al-if="data.secretHash">
          <h2 class="mb-4">Сохраните секретную фразу, иначе вы не сможете получить деньги!</h2>
          <div class="alert alert-warning" role="alert">
            Secret: <strong><a href="" al-copy>{{data.secret}}</a></strong>
          </div>
          <div class="alert alert-warning" role="alert">
            Secret Hash: <strong><a href="" al-copy>{{data.secretHash}}</a></strong>
          </div>
        </div>

        <div class="mt-5" al-if="data.step == 3 && data.notEnoughMoney && !data.checkingBalance">
          <h2 class="mb-4">На вашем балансе недостаточно средств для этой сделки. Пополните кошелек</h2>
          <div class="alert alert-warning fs-16" role="alert">
            <div>Баланс <strong>{{data.balance}}</strong> ETH</div>
            <div>Необходимый баланс <strong>{{data.order.currency1Amount}}</strong> ETH</div>
            <hr />
            <a href="" al-copy title="скопировать в буффер">{{data.address}}</a>
          </div>
          <br />
          <button type="button" class="btn btn-primary" @click="updateBalance()">Я пополнил, давай проверяй и погнали дальше!</button>
        </div>

        <div class="mt-5" al-if="data.step == 3 && data.checkingBalance">
          <h2 class="mb-4">Проверяем баланс</h2>
          <div class="loader"></div>
        </div>

        <div class="mt-5" al-if="data.step == 4">
          <h2 class="mb-4">Создаем Bitcoin Swap скрипт. Подождите, это займет некоторое время</h2>
          <div class="loader"></div>
        </div>

        <div class="mt-5" al-if="data.step == 5">
          <h2 class="mb-4">Пополняем баланс Bitcoin Swap скрипта. Подождите, это займет некоторое время</h2>
          <div class="loader"></div>
        </div>

        <div class="mt-5" al-if="data.step == 6">
          <h2 class="mb-4">Мы отправили созданный скрипт и secretHash участнику сделки. Ожидаем когда он создаст ETH Swap контракт</h2>
          <div class="loader"></div>
        </div>

      </div>


      <!-- ETH to BTC -->

      <div al-if="data.slug == 'eth-to-btc'" al-ctrl="ethToBtc">

        <div al-if="data.step == 1 && !(data.secretHash || data.btcScriptData)">
          <h2 class="mb-4">Ожидаем пользователя когда он создаст секретную фразу и пополнит BTC Swap скрипт</h2>
          <div class="loader"></div>
        </div>

        <div class="mt-5" al-if="data.secretHash && data.btcScriptData">
          <h2 class="mb-4">Bitcoin Swap скрипт успешно создан и пополнен. Проверьте информацию ниже, если требуется</h2>
          <div class="alert alert-warning" role="alert">
            Secret Hash: <strong><a href="" al-copy>{{data.secretHash}}</a></strong>
          </div>
          <div class="alert alert-warning" role="alert">
            <!--div>Баланс <strong>{{data.btcScriptData.balance}}</strong> BTC</div>
            <hr /-->
            Адрес скрипта: <strong><a href="https://www.blocktrail.com/tBTC/address/{{data.btcScriptData.address}}" target="_blank">{{data.btcScriptData.address}}</a></strong>
          </div>
          <pre>
            <code class="code">
  bitcoinjs.script.compile([
    '{{data.btcScriptData.btcOwnerPublicKey}}',
    bitcoin.core.opcodes.OP_CHECKSIG,

    bitcoin.core.opcodes.OP_IF,
    bitcoin.core.script.number.encode({{data.btcScriptData.lockTime}}),
    bitcoin.core.opcodes.OP_CHECKLOCKTIMEVERIFY,
    bitcoin.core.opcodes.OP_ENDIF,

    '{{data.btcScriptData.ethOwnerPublicKey}}',
    bitcoin.core.opcodes.OP_CHECKSIG,

    bitcoin.core.opcodes.OP_IF,
    bitcoin.core.opcodes.OP_RIPEMD160,
    Buffer.from('{{data.btcScriptData.secretHash}}', 'hex'),
    bitcoin.core.opcodes.OP_EQUALVERIFY,
    bitcoin.core.opcodes.OP_ENDIF,
  ])
            </code>
          </pre>
          <div class="mt-3" al-if="data.step == 1">
            <button type="button" class="btn btn-primary" @click="goNextStep()">Я проверил</button>
          </div>
        </div>

        <div class="mt-5" al-if="data.step == 2 && data.notEnoughMoney && !data.checkingBalance">
          <h2 class="mb-4">На вашем балансе недостаточно средств для этой сделки. Пополните кошелек</h2>
          <div class="alert alert-warning fs-16" role="alert">
            <div>Баланс <strong>{{data.balance}}</strong> ETH</div>
            <div>Необходимый баланс <strong>{{data.order.currency2Amount}}</strong> ETH</div>
            <hr />
            <a href="" al-copy title="скопировать в буффер">{{data.address}}</a>
          </div>
          <br />
          <button type="button" class="btn btn-primary" @click="updateBalance()">Я пополнил, давай проверяй и погнали дальше!</button>
        </div>

        <div class="mt-5" al-if="data.step == 2 && data.checkingBalance">
          <h2 class="mb-4">Проверяем баланс</h2>
          <div class="loader"></div>
        </div>

        <div class="mt-5" al-if="data.step == 3">
          <h2 class="mb-4">Создаем Ethereum Swap. Подождите, это займет некоторое время</h2>
          <div class="alert alert-warning" role="alert">
            Транзакция: <strong><a href="{{data.ethSwapCreationTransactionUrl}}" target="_blank">{{data.ethSwapCreationTransactionUrl}}</a></strong>
          </div>
          <div class="loader"></div>
        </div>

        <div class="mt-5" al-if="data.ethReceipt">
          <h2 class="mb-4">Контракт успешно создан</h2>
          <div class="alert alert-primary" role="alert">
            <a href="https://ropsten.etherscan.io/tx/{{data.ethReceipt.transactionHash}}">{{data.ethReceipt.transactionHash}}</a>
          </div>
        </div>

        <div class="mt-5" al-if="data.step == 4">
          <h2 class="mb-4">Ожидаем пользователя когда он передаст секретную фразу в созданный ETH Swap контракт</h2>
          <div class="loader"></div>
        </div>

      </div>


    </div>

  </div>
</div>
