<div al-if="data.order" class="mb-4">
  <div al-if="data.order" class="alert alert-primary fs-18">
    <strong al-if="!data.order.isMy">{{data.order.buyAmount}} {{data.order.buyCurrency}} &#10230; {{data.order.sellAmount}} {{data.order.sellCurrency}}</strong>
    <strong al-if="data.order.isMy">{{data.order.sellAmount}} {{data.order.sellCurrency}} &#10230; {{data.order.buyAmount}} {{data.order.buyCurrency}}</strong>
  </div>

  <div al-if="data.status == data.statuses.initialized" class="alert alert-danger mt-2" role="alert">
    Настоятельно рекомендуем не закрывать эту страницу до завершения сделки. Это может привести к нежелательным результатам
  </div>
</div>

<div al-if="data.status == data.statuses.thereIsNoAnyParticipant">
  <h2>У этой сделки еще нет покупателя</h2>
  <a class="btn btn-primary" al-link="/">Вернуться к списку ордеров</a>
</div>

<div al-if="data.status == data.statuses.waitingSwapCreatorToBecomeOnline">
  <h2>Создатель сделки оффлайн. Ожидаем его</h2>
  <div class="loader small">
    <div class="loader1"></div>
    <div class="loader2"></div>
    <div class="loader3"></div>
  </div>
</div>

<div al-if="data.status == data.statuses.waitingParticipantConnectToDeal">
  <h2>Ожидаем хомяка, когда он присоединится</h2>
  <div class="loader small">
    <div class="loader1"></div>
    <div class="loader2"></div>
    <div class="loader3"></div>
  </div>
</div>

<h2 al-if="data.status == data.statuses.swapSigning || data.isMeSigned" class="mb-1">
  <div al-if="data.isMeSigned && data.isParticipantSigned" class="stepPassed"></div>
  1. Подтвердите свое согласие на начало сделки
</h2>
<div al-if="data.status == data.statuses.swapSigning">
  <div class="mb-4 text-muted">
    Подтверждение сделки необходимо для начисления репутации.
    Если хомяк не доводит сделку до конца он получает отрицательную репутацию.
  </div>
  <div al-if="data.isParticipantSigned" class="alert alert-success" role="alert">
    Хомяк подтвердил участие в сделке
  </div>
  <button al-if="!data.signFetching && !data.isMeSigned" type="button" class="btn btn-primary" @click="signSwap()">Подтверждаю</button>
  <div al-if="data.signFetching">
    <h5 class="mb-2">Ожидайте. Производится подпись сделки</h5>
    <div al-if="data.signTransactionHash" class="alert alert-warning" role="alert">
      Транзакция: <strong><a href="{{data.signTransactionHash}}" target="_blank">{{data.signTransactionHash}}</a></strong>
    </div>
    <div  class="loader small">
      <div class="loader1"></div>
      <div class="loader2"></div>
      <div class="loader3"></div>
    </div>
  </div>
  <div al-if="data.isMeSigned" class="alert alert-success" role="alert">
    Вы подтвердили участие в сделке
  </div>
  <div al-if="data.isMeSigned && !data.isParticipantSigned">
    <h5 class="mb-2">Ожидаем когда хомяк подтвердит сделку</h5>
    <div  class="loader small">
      <div class="loader1"></div>
      <div class="loader2"></div>
      <div class="loader3"></div>
    </div>
  </div>
</div>
