<div al-if="data.slug == 'btc-eth'" al-ctrl="btcToEth">

  <h3 class="mt-5">
    <div al-if="data.secretHash" class="stepPassed"></div>
    2. Create a secret key
  </h3>
  <div al-if="!data.secretHash" class="mt-4">
    <input type="text" class="form-control" placeholder="Secret Key" al-value="data.secret">
    <br />
    <timer-button @click="goNextStep()">Confirm</timer-button>
  </div>

  <div al-if="data.secretHash">
    <div class="alert alert-danger mt-4" role="alert">
      Save the secret key! Otherwise there will be a chance you loose your money!
    </div>
    <div class="alert alert-warning" role="alert">
      Secret Key: <strong><a href="" al-copy>{{data.secret}}</a></strong>
    </div>
    <div class="alert alert-warning" role="alert">
      Secret Hash: <strong><a href="" al-copy>{{data.secretHash}}</a></strong>
    </div>
  </div>

  <div al-if="data.step == 3 && data.notEnoughMoney && !data.checkingBalance" class="mt-5">
    <h3 class="mb-4">Not enough money for this swap. Please charge the balance</h3>
    <div class="alert alert-warning fs-16" role="alert">
      <div>Your balance: <strong>{{data.balance}}</strong> BTC</div>
      <div>Required balance: <strong>{{data.order.sellAmount}}</strong> BTC</div>
      <hr />
      <a href="" al-copy title="copy to clipboard">{{data.address}}</a>&nbsp;&nbsp;&nbsp;<a href="https://www.blocktrail.com/tBTC/address/{{data.address}}/transactions" target="_blank">Check</a>
    </div>
    <br />
    <button type="button" class="btn btn-primary" @click="updateBalance()">Continue</button>
  </div>

  <h3 al-if="data.step == 3 && data.checkingBalance" class="mt-5">
    Checking balance..
  </h3>

  <h3 al-if="data.step == 4 || data.btcScriptData" class="mt-5">
    <div al-if="data.btcScriptData" class="stepPassed"></div>
    3. Creating Bitcoin Script. Please wait, it will take a while
  </h3>

  <h3 al-if="data.step == 5 || data.isBtcScriptFunded" class="mt-5">
    <div al-if="data.isBtcScriptFunded" class="stepPassed"></div>
    4. Charging Bitcoin Script. Please wait, it will take a while
  </h3>

  <h3 al-if="data.step == 6 || data.isEthSwapCreated" class="mt-5">
    <div al-if="data.isEthSwapCreated" class="stepPassed"></div>
    5. ETH Owner received Bitcoin Script and Secret Hash. Waiting when he creates ETH Contract.
  </h3>

  <h3 al-if="data.step == 7 || data.isWithdrawn" class="mt-5">
    <div al-if="data.isWithdrawn" class="stepPassed"></div>
    6. ETH Contract created and charged. Requesting withdrawal from ETH Contract. Please wait
  </h3>
  <div al-if="data.step == 7 && data.ethSwapWithdrawTransactionHash" class="alert alert-warning mt-4" role="alert">
    Transaction: <strong><a href="{{data.ethSwapWithdrawTransactionHash}}" target="_blank">{{data.ethSwapWithdrawTransactionHash}}</a></strong>
  </div>

  <div al-if="(data.step > 3 && data.step != 8) || data.checkingBalance" class="loader small mt-4">
    <div class="loader1"></div>
    <div class="loader2"></div>
    <div class="loader3"></div>
  </div>

  <div al-if="data.isWithdrawn" class="mt-5">
    <div  class="stepPassed"></div>
    <h3>7. Money was transferred to your wallet. Check the balance.</h3>
    <h2>Thank you for using Swap.Online!</h2>
  </div>

</div>
