<!DOCTYPE html>
<html lang="en">
<head>
  <title>Swap Online</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <script src="https://unpkg.com/ipfs/dist/index.js"></script>
  <style>
    [al-cloak] {
      display: none !important;
    }
  </style>
</head>
<body al-app="app">

  <div al-cloak>

    <%= require('html-loader!./templates/main.html') %>
    <%= require('html-loader!./templates/history.html') %>
    <%= require('html-loader!./templates/btc-to-eth.html') %>
    <%= require('html-loader!./templates/eth-to-btc.html') %>

  </div>

  <div :hidden="true">
    Loading...
  </div>

</body>
</html>
