$header-height: 56px;


.header {
  height: $header-height;
}

.headerNav {
  margin-left: 30px;
}

.headerNavItem {
  height: $header-height - 1px;
  padding: 0 15px;
  position: relative;

  &:hover {
    background-color: #fafafa;
  }
}


/* Notifications Bell */

.headerBell {
  margin-top: 10px;
  display: inline-block;
  position: relative;
  font-size: 24px;
}

.headerBell::before,
.headerBell::after {
  color: #d7d7d7;
}

.headerBell::before {
  display: block;
  content: "\f0f3";
  font-family: "FontAwesome";
  transform-origin: top center;
}

.headerBell::after {
  min-width: 18px;
  height: 18px;
  content: attr(data-count);
  background-color: #f10059;
  padding: 0 5px;
  opacity: 0;
  line-height: 18px;
  text-align: center;
  font-size: 10px;
  color: #fff;
  border-radius: 9px;
  position: absolute;
  top: -3px;
  right: -7px;
  transform: scale(0.5);
  transition: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.headerBell.notify::before {
  -webkit-animation: ring 1.5s ease;
  animation: ring 1.5s ease;
}

.headerBell.show-count::after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(35deg);
  }
  12.5% {
    -webkit-transform: rotate(-30deg);
  }
  25% {
    -webkit-transform: rotate(25deg);
  }
  37.5% {
    -webkit-transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
  }
  62.5% {
    -webkit-transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  12.5% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  25% {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  37.5% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  62.5% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}


.headerNotificationsList {
  position: absolute;
  top: 100%;
  z-index: 10;
  right: 0 !important;
  left: auto !important;
}
