$header-height: 56px;


.header {
  height: $header-height;
}

.headerNav {
  margin-left: 30px;
}

.headerNavItem {
  height: $header-height - 1px;
  padding: 0 15px;
  position: relative;

  &:hover {
    background-color: #fafafa;
  }
}


/* Notifications Bell */

@keyframes ring {
  0% {
    transform: rotate(35deg);
  }
  12.5% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(25deg);
  }
  37.5% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(15deg);
  }
  62.5% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.headerBell {
  width: 30px;
  margin-top: 12px;
  display: inline-block;
  position: relative;
  transform-origin: 50% 0;

  &::after {
    content: attr(data-count);
    min-width: 18px;
    height: 18px;
    background-color: #f10059;
    padding: 0 5px;
    opacity: 0;
    position: absolute;
    top: -3px;
    right: -7px;
    line-height: 18px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    transform: scale(0.5);
    transition: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 9px;
  }

  svg {
    fill: #dce2e4;
  }

  &.notify {
    animation: ring 1.5s ease;
  }

  &.show-count {

    &::after {
      opacity: 1;
      transform: scale(1);
    }

    svg {
      fill: #c1cfd4;
    }
  }
}


.headerNotificationsList {
  position: absolute;
  top: 100% !important;
  right: 0 !important;
  left: auto !important;
  z-index: 10;
  transform: none !important;
}
