.stepPassed {
  position: relative;

  &::before {
    content: '';
    width: 23px;
    height: 12px;
    display: block;
    background: transparent;
    border: 4px solid #0cc100;
    border-top: none;
    position: absolute;
    top: 11px;
    left: -32px;
    border-right: none;
    transform: rotate(-45deg);
  }
}
